<launch>
    <!-- Run the map server -->
    <!--<node name="map_server" pkg="map_server" type="map_server" args="$(find my_map_package)/my_map.pgm my_map_resolution"/>-->

    <!--- Run AMCL -->
    <!--<include file="$(find amcl)/examples/amcl_diff.launch" />-->
    <!--- Run rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find pioneer_2dnav)/rviz/single_robot.vcg"/>

    <!--- Run stage -->
    <!--<node name="stage" pkg="stage-elec" type="stageros" args="$(find pioneer_2dnav)/world/simple.world"/>-->

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find pioneer_2dnav)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find pioneer_2dnav)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find pioneer_2dnav)/params/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find pioneer_2dnav)/params/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find pioneer_2dnav)/params/base_local_planner_params.yaml" command="load" />
    </node>
</launch>
